
.check-seg {
    background-color: lightsteelblue;
    border-radius: 20px;
    padding: 2rem 2rem;
    max-width: 2000px;
}

.form-md{
    max-width: 80%;
}

.form-sm{
    max-width: 60%;
}

.body-link:hover{
    color: red
}

nav .container-fluid {
    width: 100%;
    display: flex;
}

nav .flex-bar {
    display: flex;
    margin-right: 3rem;
}

nav .navbar-toggler {
    flex: 1;
}

/* Size for brand */
nav .navbar-heading
{
    font-size: 300%;
    text-decoration: none;
    flex: 7;
}

/* Colors for brand */
nav .navbar-heading .blue
{
    color: #537fbe;
}
nav .navbar-heading .red
{
    color: #ea433b;
}
nav .navbar-heading .yellow
{
    color: #f5b82e;
}
nav .navbar-heading .green
{
    color: #2e944b;
}

.col2 {
    border-radius: 20px;
}

.row1 {
    border-radius: 20px;
}

.row2 {
    border-radius: 20px;
    margin: 2rem 0;
}

.imgbox{
    border-radius: 20px;
}

.sub-table {
    background-color: lightblue;
    border-radius: 20px;
}

.table-head{
    position:sticky;
    vertical-align: middle;
    top: 0 ;
}

.table-box {
    max-height: 400px;
    overflow-y: auto;
}

th {
    vertical-align: middle;
}

.search-btn {
    border-radius: 0 5px 5px 0;
}

@media only screen and (max-width: 768px) {
    nav .navbar-heading
    {
        font-size: 200%;
        text-decoration: none;
        flex: 7;
    }
    nav .flex-bar {
        width:100%;
        margin-right: 0;
    }
}

@media only screen and (max-width: 576px) {
      .search-btn
      {
          margin-top: 0.5rem;
          border-radius: 5px 5px 5px 5px !important;
      }
  }