
.check-seg {
    background-color: darkgreen;
    color: beige;
    border-radius: 20px;
    padding: 2rem 2rem;
    max-width: 2000px;
}

.form-md{
    max-width: 80%;
}

.form-sm{
    max-width: 60%;
}

.body-link {
    color: beige;
}

.body-link:hover{
    color: red
}

/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

.col1 {
    background-color: green;
    border-radius: 20px;
    margin: 0 1rem;
    padding-top: 2rem;
}

.col2 {
    /* background-color: lightskyblue; */
    border-radius: 20px;
    /* padding-top: 2rem; */
}

.row1 {
    /* background-color: lightsalmon; */
    border-radius: 20px;
    /* margin: 0 2rem */
}

.row2 {
    /* background-color: aqua; */
    border-radius: 20px;
    /* margin: 2rem 2rem 0 2rem; */
    margin: 2rem 0;
}

.row3 {
    border-radius: 20px;
    margin: 2rem 2rem 0 2rem
}

.imgbox{
    border-radius: 20px;
}

.table td.fit, 
.table th.fit {
    white-space: nowrap;
    width: 1%;
}