{% extends "layout.html" %}

{% block title %}
    User List
{% endblock %}

{% block main %}
    <div class="section">
        <table class="table tablestriped">
            <thead>
                <tr>
                    <th class="text-start">Name</th>
                </tr>
            </thead>
            <tbody>
                <!-- TODO: Loop through the database entries to display them in this table -->
                {% for user in users %}
                    <tr>
                        <td class="text-start">{{ user["name"] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}