{% extends "layout.html" %}

{% block title %}
    Donor List
{% endblock %}

{% block main %}
    <div class="section">
        <div class="row justify-content-center">
            <div class="col-md-3 testcol">
                <h3>{{ mp.name }}</h3>
                <img class="width-100 imgbox mb-3" alt="Your searched-for MP", 
                src="{{ mp['thumbnail'] }}">
                <h5 class="mb-3">MP for {{ mp.const }}</h5>
                <h5 class="mb-3">Total Donations Since 2015:</h5>
                <h5 class="mb-3">{{ mp.total | gbp }}</h5>
                <form action="/" method="GET">
                    <button class="btn btn-primary" type="submit">Back to Homepage</button>
                </form>
            </div>
            <div class="col-md-7">
                {% if donors is not none %}
                <h5 class="text-start my-3">Click and scroll to view donations by year:</h5>
                <div class="accordion" id="my-accordion">
                    {% for year in years %}
                    <div class="accordion-item">
                        <div class="accordion-header text-start" id="headingOne">
                            <button class="accordion-button collapsed px-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapseProduct{{ year }}"
                                    aria-expanded="false" aria-controls="collapseProduct{{ year }}">{{ year }}</button>
                        </div>
                        <div class="collapse table-box" id="collapseProduct{{ year }}">
                            <table class="table tablestriped w-auto mx-auto my-3">
                                <thead class="table-head table-light">
                                    <tr>
                                        <th class="text-start">Donation Value</th>
                                        <th class="text-start">Donor Name</th>
                                        <th class="text-start">Donor Type</th>
                                        <th class="text-start">Donation Type</th>
                                        <th class="text-start">Was the Donation Returned?</th>
                                    </tr>
                                </thead>
                                <tbody class="table-body">
                                    <!-- Loop through the database entries to display them in this table -->
                                    {% for donor in donors[0][year] %}
                                        <tr>
                                            <td class="text-start">{{ donor['value'] | gbp }}</td>
                                            <td class="text-start"><a href="{{ url_for('redirect_to', link=donor['donor_name']) }}">{{ donor['donor_name'] }}</a></td>
                                            <td class="text-start">{{ donor['donor_status'] }}</td>
                                            <td class="text-start">{{ donor['donation_type'] }}</td>
                                            <td class="text-start">{{ donor['returned'] }}</td>
                                        </tr>
                                    {% endfor %}       
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% else %}
                    <div class="text-start">
                        <h5 class="my-3">No donors found for {{ mp.name }}</h5>
                        <p> Remember: This doesn't mean they aren't being influenced by business interests.</p>
                        <p> Their voting history and personal financial interests can be found here:</p>
                        <a href="https://www.theyworkforyou.com">https://www.theyworkforyou.com</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}